:root {
    --df-messenger-primary-color: #482B14;
    --df-messenger-font-color: #482B14;
}

body {
    background-image: url("background.avif");
    background-size: cover;
    background-attachment: fixed;
    font-family: "Google Sans", sans-serif;
    color: #482B14;
    text-align: center;
}

.main {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-widget {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

df-messenger {
    z-index: 999;
    position: fixed;
    top: 16px;
    right: 16px;
}