<!DOCTYPE html>
<html>

<head>
  <title>Warren</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}" />
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined&amp;display=block" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="main">
    <h1>Warren</h1>
    <p>Your CN Rail financial advisor. Ask me any question about past CN's financial results.</p>
  </div>

  <div class="search-widget">
  </div> 

</br></br></br></br></br></br></br></br>

  <!--  Search widget goes here:   -->
<!-- Widget JavaScript bundle -->
<script src="https://cloud.google.com/ai/gen-app-builder/client?hl=en_US"></script>

<!-- Search widget element is not visible by default -->
<gen-search-widget
  configId="f5e82422-2c40-4eb2-b3ee-8c1bd8e2417f"
  triggerId="searchWidgetTrigger">
</gen-search-widget>

<!-- Element that opens the widget on click. It does not have to be an input -->
<input placeholder="Search here" id="searchWidgetTrigger" />
  <!-- -->

  <!--  Infobot widget goes here:   -->
  <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
  <df-messenger project-id="jo-investor-chatbot-rulp" agent-id="9dccf05d-6625-454e-9cab-6902b59444cc" language-code="en">
    <df-messenger-chat-bubble chat-title="I'm Warren, a financial analyst" anchor="bottom-left" chat-height="500"
      chat-width="600">
    </df-messenger-chat-bubble>
  </df-messenger>
  <!-- -->

</body>

</html>